.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 85px;
  padding: 0 150px;
  border-bottom: solid 1px #b7b7b7;

  .iconContainer {
    .accountIcons {
      width: 11%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 12px;
    }
    .menuIcon {
      cursor: pointer;
    }
  }

  .header__account_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 20px;
  }
}
